#archive
  font-size: 0.85em
  margin: 0 0 30px 0
  overflow: hidden
  
  .title
    clear: none
    font-size: 1em
    
    a
      color: #3d3d3d !important
      text-decoration: none

  .published
    clear: left
    color: #7aaa41
    float: left
    margin: 0 40px 0 0 
    text-align: left
    
    div
      float: left
      
    .year
      width: 45px
      
    .month
      width: 35px
    

  li
    margin-bottom: 10px