#footer
  background-color: #efefef
  border-top: solid 1px #bfbfbf
  border-bottom: solid 1px #bfbfbf
  clear: both
  font-size: 0.7em
  margin: 0 0 5px 0
  padding: 10px
  overflow: hidden

  ul
    float: right

    li
      float: left
      margin: 0 0 0 5px

#copyright
  color: #999
  font-size: 0.7em
  padding: 0 0 40px 0
  text-align: right