#footer
  background-color: #efefef
  border-top: solid 1px #bfbfbf
  clear: both
  font-size: 0.75em
  padding: 10px
  overflow: hidden

  a
    text-decoration: none

  #footer-wrapper
    margin: 0 auto
    width: 585px
    overflow: hidden

  #footer-msg
    float: left
    width: 240px

    h6
      border-bottom: 1px solid #ccc
      margin: 0 0 5px 0
      padding: 0 0 5px 0

  ul
    float: right

    li
      border-bottom: 1px solid #ccc
      padding: 5px 0 5px 0
      margin: 0 0 3px 0
      width: 180px

#copyright
  color: #999
  font-size: 0.875em
  margin: 30px auto 0 auto
  padding: 0 0 40px 0
  text-align: left
  width: 585px