#footer-wrapper

  #consume
    Are you buying what I'm selling? Yes! Then you should subscribe to my &nbsp;
    %a{ :href => '/articles.atom' }>feed
    , follow me on
    %a{ :href => 'http://www.twitter.com/ecni' }twitter
    and fork me on &nbsp;
    %a{ :href => 'http://github.com/ecavazos' }>github .
    
#copyright
  Copyright © 2006 to Forever, by Emilio Cavazos
