%h2 About
#about
  %div
    %h3 IAmNeato.com
    :textile
      I started this site for the simple purpose of sharing my creations.  It's a mixture of code, art and ideas.  "Iamneato.com":http://www.iamneato.com is powered by open source software.  The site is composed of HTML, CSS, Javascript and Ruby code. At it's core, sits a tiny application leveraging the awesomeness of the "Sinatra DSL":http://www.sinatrarb.com/.  The Sinatra code originated from "@hughevans":http://hughevans.net/ but has been tailored to fit my needs.
    
    %h3 Myself
    :textile
      Perhaps you're wondering why I am neato. Maybe you think there's an interesting story behind the title of this site.  Maybe you don't.  The truth is, I’m not as egomaniacal as the title of this site implies.  In fact, I’m fairly humble and easy to get along with (according to me).  I believe life should be enjoyable and enjoying life shouldn't be difficult.  In case you're wondering, I'm actively recruiting people to assist me on my journey.  I usually refer to these recruits as friends.  This pursuit (of fun and happiness) is the baseline motivation for all I do (money is a tertiary concern).
    
    :textile
      A simple example that illustrates my philosophy is how I regard my career as a *software developer*.  Everyday I have a choice to make.   I can choose mediocrity or I can choose mastery.  Being mediocre in my supposed area of expertise isn’t something I consider fun or enjoyable.  Pursuing mastery, on the other hand, is something I enjoy very much.  The *continuous learning* requirement on developers is the most attractive aspect of my craft.  *Software development* is evolving and in this process, there are no masters, only students.  Impostors are easy to spot.
    
    :textile
      In the rare case that you're still reading, the list below will give you a little more detail about what kind of person I really am.  It's what I'd look like if a powerful sorcerer transformed me into an unordered list.
  
    %h3
      Emilio:
    %ul
      %li Loves to doodle  
      %li Knows many programming languages  
      %li Is learning new programming languages  
      %li Writes maintainable code  
      %li Practices TDD  
      %li Loves to laugh (at everything, myself included)  
      %li Is addicted to Apple products  
      %li Is a fan of design (all disciplines)  
      %li Loves learning  
      %li Finds beer delectable  
      %li Enjoys everything more with music
      
  %div
    %h3 Contact
    %p
      Send me an 
      %a{ :href => "mailto:me@iamneato.com?subject=I%20am%20Neato" } email
      and let me know what's on your mind (it's free, sort of).
