%h2 Archive
%p= "I know it's not much of an archive. I only have #{@articles.length} articles in my archive.  Sorry, I'm a lazy blogger."
#archive
  - for @article in @articles
    %ul
      %li
        .published
          = @article.published.strftime("%Y %b %d")
        %h3.title
          %a{:href => article_path(@article)}
            = @article.title