%h2 Doodles
%p
  This is a small collection of images I've made.  All of these images were created using Adobe Illustrator.  My process is simple; I pick a sketch out of my sketch book and I recreate it in Illustrator.  I don't use any fancy tools, just a mouse and keyboard.    
#doodles
  %div
    %a{ :href => "/images/illustrations/metal_hand.jpg", :title => "Metal Hand", :rel => "illustration" }
      %img{ :src => "/images/thumbs/metal_hand.jpg", :longdesc => "http://iamneato.com", :alt => "Metal Hand" }
  %div
    %a{ :href => "/images/illustrations/iamneato_first_banner.jpg", :title => "I Am Neato", :rel => "illustration" }
      %img{ :src => "/images/thumbs/iamneato_first_banner.jpg", :longdesc => "http://iamneato.com", :alt => "I Am Neato" }
  %div
    %a{ :href => "/images/illustrations/d_is_for_dinosaur.jpg", :title => "D is for Dinosaur", :rel => "illustration" }
      %img{ :src => "/images/thumbs/d_is_for_dinosaur.jpg", :longdesc => "http://iamneato.com", :alt => "D is for Dinosaur" }
  %div
    %a{ :href => "/images/illustrations/peg_on_stage.jpg", :title => "Peg On Stage", :rel => "illustration" }
      %img{ :src => "/images/thumbs/peg_on_stage.jpg", :longdesc => "http://iamneato.com", :alt => "Peg On Stage" }
  %div
    %a{ :href => "/images/illustrations/peg_sky_dive.jpg", :title => "Peg - Sky Dive", :rel => "illustration" }
      %img{ :src => "/images/thumbs/peg_sky_dive.jpg", :longdesc => "http://iamneato.com", :alt => "Peg - Sky Dive" }
  %div
    %a{ :href => "/images/illustrations/easter_island_neato.jpg", :title => "Easter Island", :rel => "illustration" }
      %img{ :src => "/images/thumbs/easter_island_neato.jpg", :longdesc => "http://iamneato.com", :alt => "Easter Island" }
  %div
    %a{ :href => "/images/illustrations/mud_bath.jpg", :title => "Mud Bath", :rel => "illustration" }
      %img{ :src => "/images/thumbs/mud_bath.jpg", :longdesc => "http://iamneato.com", :alt => "Mud Bath" }
  %div
    %a{ :href => "/images/illustrations/m_spacer.jpg", :title => "mSpacer", :rel => "illustration" }
      %img{ :src => "/images/thumbs/m_spacer.jpg", :longdesc => "http://iamneato.com", :alt => "mSpacer - Blast Off!" }
  %div
    %a{ :href => "/images/illustrations/bobo_and_his_packpack_01.jpg", :title => "Bobo and His Pack-Pack", :rel => "illustration" }
      %img{ :src => "/images/thumbs/bobo_and_his_packpack_01.jpg", :longdesc => "http://iamneato.com", :alt => "Bobo and His Pack-Pack" }
  %div
    %a{ :href => "/images/illustrations/my_rage.jpg", :title => "My Rage Illustrated", :rel => "illustration" }
      %img{ :src => "/images/thumbs/my_rage.jpg", :longdesc => "http://iamneato.com", :alt => "My Rage Illustrated" }
  %div
    %a{ :href => "/images/illustrations/viral_domination.gif", :title => "Viral Domination", :rel => "illustration" }
      %img{ :src => "/images/thumbs/viral_domination.jpg", :longdesc => "http://iamneato.com", :alt => "Viral Domination" }
  %div
    %a{ :href => "/images/illustrations/aulra_banner.jpg", :title => "Aulra.com Banner", :rel => "illustration" }
      %img{ :src => "/images/thumbs/aulra_banner.jpg", :longdesc => "http://iamneato.com", :alt => "Aulra.com Banner" }
  %div
    %a{ :href => "/images/illustrations/love_attack.gif", :title => "Love Attack - Danger Weapon", :rel => "illustration" }
      %img{ :src => "/images/thumbs/love_attack.jpg", :longdesc => "http://iamneato.com", :alt => "Love Attack - Danger Weapon" }
  %div
    %a{ :href => "/images/illustrations/prom_pose.jpg", :title => "Prom Pose", :rel => "illustration" }
      %img{ :src => "/images/thumbs/prom_pose.jpg", :longdesc => "http://iamneato.com", :alt => "Prom Pose" }
  %div
    %a{ :href => "/images/illustrations/chunk_01.jpg", :title => "One Big Chunk of Green", :rel => "illustration" }
      %img{ :src => "/images/thumbs/chunk_01.jpg", :longdesc => "http://iamneato.com", :alt => "One Big Chunk of Green" }
  %div
    %a{ :href => "/images/illustrations/his_and_hers_scary_mask.jpg", :title => "His and Hers Scary Mask", :rel => "illustration" }
      %img{ :src => "/images/thumbs/his_and_hers_scary_mask.jpg", :longdesc => "http://iamneato.com", :alt => "His and Hers Scary Mask" }

%script{:src => '/javascripts/jquery-1.3.2.min.js', :type => "text/javascript"}
%script{:src => '/javascripts/jquery.fancybox-1.2.1.js', :type => "text/javascript"}
%script{:src => '/javascripts/fancybox.init.js', :type => "text/javascript"}
