-# title: Anticipating iPhone Updates
-# published: 2008-1-20

:textile
  I have been patiently awaiting the second iteration of Apple's iPhone since the iPhone was initially announced. My guess was, with such a revolutionary product, it would need some maturing. In cooperation with 'The Early Adopters' Apple has worked out plenty of kinks. I feel like the time for my iPhone purchase is drawing near.

  With the %(highlight)Macworld Expo Keynote% just a day away, the rumors appear to be consistent. Apple will probably release a 16GB iPhone. A 16GB iPhone will be a suitable  replacement for my 30GB iPod plus my current cell phone. Very exciting! My patience is about to pay dividends.


  %(update)UPDATE: It turns out the 16GB iPhone was nothing more than a fairy tale.  The MacBook Air stole the show. My wait was over nonetheless, I went out and purchased an 8GB iPhone.  To bloody hell with patience, this friggin' phone rocks!%
