-# title: Blob con Spots   
-# published: 2008-11-25

:textile
  Where I come from, legs are useless and spots are reserved for rocks stars!  Man was that rock star pissed when I stole all of her spots.
  
%p
  %a{ :href => "/images/blob_spot.gif", :title => "Blob con Spots" }
    %img{ :src => "/images/blob_spot.gif", :alt => "Blob con Spots" }