-# title: Christmas Stocking Ideas
-# published: 2008-12-07

:textile
  Everyone is accustom to the traditional Christmas stocking.  While sketching, I realized that the possibilities for stockings are enormous.  If you can stuff it with gifts and hang it, then you can use it as a stocking.  Gloves and oven mitts  are two ideas I would like to see more.
  
%p
  %a{ :href => "/images/christmas_stockings.jpg", :title => "Christmas Stockings" }
    %img{ :src => "/images/christmas_stockings.jpg", :alt => "Christmas Stockings" }