-# title: D is for Dinosaur
-# published: 2008-12-02

:textile
  I added a "new illustration":/images/illustrations/d_is_for_dinosaur.jpg to the sidebar.  I haven’t figured what my criteria is for sidebar illustrations, but if I do, I will blog about it.  This latest illustration has got me thinking about doing an alphabet worth of characters (just a thought).  I hope you enjoy.