-# title: 11 Months Without Love …
-# published: 2008-12-09

:textile
  That’s one serious dry streak!  There’s only 22 days left; go out and get yourself a candy cane.

%p
  %a{ :href => "/images/candy_cane.jpg", :title => "Candy Cane" }
    %img{ :src => "/images/candy_cane.jpg", :alt => "Candy Cane" }