-# title: First
-# published: 2008-1-15

:textile
  My first post, and I don't have anything good to say. I guess it really don't matter since my hits are probably zero. Oh, I just saw the San Diego Chargers beat the Colts. What a shocker, I didn't see that one coming.