-# title: The Forgotten Wacom
-# published: 2008-11-17

:textile
  While digging through some boxes this weekend, I stumbled across a relic.  I found My old metallic Wacom tablet.  It was tucked neatly away looking as sexy as the day I purchased her.  I was eager to use the tablet.  I plugged it in right away and launched Photoshop.  Shortly after, I realized why the tablet was packed away.  I suck at using it.

  I decided to post a few quick sketches and let you decide for yourself (emphasis on quick).
  
%p
  %a{ :href => "/images/alone_in_the_rain.jpg", :title => "Alone in the Rain" }
    %img{ :src => "/images/alone_in_the_rain.jpg", :alt => "Alone in the Rain" }
    
%p
  %a{ :href => "/images/sketch_011.jpg", :title => "Sketch 11" }
    %img{ :src => "/images/sketch_011.jpg", :alt => "Sketch 11" }