-# title: Forgotten Works and Apologies
-# published: 2009-01-09

:textile
  I’m so sorry "IAmNeato.com":http://iamneato.com; I’ve been busy.  Are you mad?  You understand don’t you?  I know you've been yearning for some new content, but the wait is over.  I got a few new (to you, old to me) illustrations to present, three to be precise.

:textile
  Illustration number one, exhibits many iconic traits found in the animal kingdom.  The colors plus the giant star hint at old communist imagery without indulging.  

%p
  %a{ :href => "/images/demoncomm.jpg", :title => "DemonComm" }
    %img{ :src => "/images/demoncomm.jpg", :alt => "DemonComm" }

:textile
  The second image is a product of my childhood.  The character is inspired from memories of old Mario Bros. games.  You might find it difficult to make the connection but remember, time distorts memories. 

%p
  %a{ :href => "/images/happy-web-bump.jpg", :title => "Happy Web Bump" }
    %img{ :src => "/images/happy-web-bump.jpg", :alt => "Happy Web Bump" }

:textile
  The last image is comprised of simple geometric shapes.  The result is a complicated bear struggling with dark inner conflicts.  Don't be fooled by his cuddly appearance, this bear is not worthy of your trust.  On closer inspection, I'm started to think this bear looks like a cuddly version of the Venom symbiote. 

%p
  %a{ :href => "/images/death-panda.jpg", :title => "Death Panda" }
    %img{ :src => "/images/death-panda.jpg", :alt => "Death Panda" }
