-# title: Say Goodbye to My Little Friend
-# published: 2008-11-19

:textile
  I felt it was time to give my site a little refresh.  The season has changed and I have grown tired of looking at my site.  I know what you’re thinking; so whatcha gonna do about it?  Well I’m glad you asked.  I replaced my old header image with the new image seen above.  Below is the old image and it has served its purpose wonderfully.  For such wonderful service, we will honor its departure with a moment of silence. :(
  
%p
  %a{ :href => "/images/old-header.gif", :title => "Old Header" }
    %img{ :src => "/images/old-header.gif", :alt => "Old Header" }  