-# title: I Make New And It Look Pretty
-# published: 2009-05-31

:textile
  In the short history of "this site":http://www.iamneato.com, it’s had a handful of different looks.  Today, this website gets another new look. I wasn’t very pleased with the last design and I wanted to redesign it as soon as it went live.  I finally got around to it and I’m happy with the results.  It’s simple accented with a little bit of silly.  That’s a formula for perfection in my book (the book of “The most amazing and useless stuff for people other than myself”).
