-# title: Introducing MacVim
-# published: 2009-10-11

:textile
  I hate VI.  Well, I used to hate VI.  Back in my Sys. Admin. days, I avoided VI like I owed it money.  I was convinced my ==*nix== savvy coworkers were hittin' the pipe.  They couldn't persuade me with banter, intelligent conversation or free beer (yep, even free beer).  I was a Windows guy; a right click wonder.  In the age of GUIs, rodent peripherals and boy bands, why would I waste time cramming archaic commands into to an already overcrowded brain?  Every time I encountered VI, I asked myself the same question.  "How the hell does anyone use this sh*t?"

  Sadly, I didn't leave my comfort zone long enough to answer that question.  I wasted years avoiding VI due to an irrational aversion to learning (the kind of behavior I so deeply despise).  If you're going to say nay to a tool, then you should be able to intelligently articulate the reason(s) why.  That wasn't the case with VI. 

  In an effort to change that, I installed "MacVim":http://code.google.com/p/macvim/.  The first few minutes were intimidating but rather than run in terror, I took to "Google":http://www.google.com/search?hl=en&client=firefox-a&rls=org.mozilla%3Aen-US%3Aofficial&hs=Oho&q=macvim+ruby+rails&aq=f.  After skimming a few blog posts and tinkering with config files on "GitHub":http://github.com/search?q=vimfiles&type=Everything&repo=&langOverride=&start_value=1, the intimidation was no more.  My nerd-sense was tingling.  It was clear I wasn't dealing with the crusty command line VI that ate noobs for breakfast.  Nope, MacVim was noob friendly.  Several hours and a few commands later, I was easily moving though my code.  Thanks to plugins, I was able to extend MacVim with most of the features that make TextMate such an amazing editor.  I was also pleased that it looked like a mac app and not some hideous Linux port.

%h3
  Conclusion

:textile
  It's to early to corroborate the stories of enhanced productivity but in the meantime, I'm having fun.  I know vim's not for everyone and you don't have to drink the kool-aid.  I simply wanted to share an experience and maybe inspire an open-mind.  Besides, learning new things is good to fend off zee stasis. 

  My current MacVim "configuration":http://github.com/ecavazos/vimfiles is on GitHub if you're so inclined.
  
