-# title: Keeping The Dream Alive
-# published: 2009-06-03

:textile
  When I retire a header image I like to preserve them in a blog post.  My local file system is full of ghosts and forgotten relics.  That’s not a place for an image that once stood proudly on the mantel of my website. This way, I can say goodbye without saying goodbye.  Who knows? Maybe It will inspire future visitors.

:textile
  Old header image:

%p
  %a{ :href => "/images/spring_2009.jpg", :title => "Old Header Image - Spring 2009" }
    %img{ :src => "/images/spring_2009_thumb.jpg", :alt => "Old Header Image - Spring 2009" }
