-# title: Labor Day Special
-# published: 2009-9-7

:textile
  I've been writing a lot about development lately and I've finished zero illustrations.  Unless you count my "404 page":/404, but I don't.  The last seven posts are all programming related.  Today the streak ends!  That's correct, today I spit in the face of technical posts and give you something from the other side of my brain.  A new illustration; the perfect monotony breaker.  Besides, I don't want anyone getting the idea my talent is one dimensional ;)
  
%p.image
  %a{ :href => "/images/illustrations/metal_hand.jpg", :title => "Metal Hand" }
    %img{ :src => "/images/metal_hand_sm.jpg", :alt => "Metal Hand" }
