-# title: Leela
-# published: 2008-11-13

:textile
  I just thought I would upload a picture of my dog.  She is an American Bulldog and her name is Leela (aka Lulu).  She is 7 months old and has the cutest little face.  Don’t let the face fool you.  This girl is a terror!!!

%p
  %a{ :href => "/images/leela.jpg", :title => "Leela" }
    %img{ :src => "/images/leela.jpg", :alt => "Leela" }
    
%p
  %a{ :href => "/images/leela2.jpg", :title => "Leela" }
    %img{ :src => "/images/leela2.jpg", :alt => "Leela" }
