-# title: My Thoughts on ASP.NET MVC
-# published: 2008-8-2

:textile
  This is such a huge step in the right direction for ASP.  Microsoft appears to be backing away from the just-add-water approach to building web apps.  I am not sure if Microsoft will appreciate the comparisons, but ASP is approaching the flexibility of PHP and Ruby/Rails.  I have been using the ASP.NET MVC Framework professionally for about five months.  It is vastly more fun to work with in contrast to WebForms.  I have always felt like anything ASP was anti good practices.  With this framework, you get a nice separation of concerns.  Careful, MVC is just a design pattern and a design pattern is only as good as the person implementing it.  You can still end up with an unmanagable project if you are lazy. I found this great quote by Rob Conery, ""Frameworks don't create Tag Soup. Developers do.":http://blog.wekeroad.com/blog/asp-net-mvc-avoiding-tag-soup/"

  The coolest thing about this project is the way it is being released and improved.  Microsoft has made the source available and the developers are actively taking feedback.  I am confident when ASP.NET MVC is a final release it will be solid from a developer’s perspective.  If you are interested, you can check out preview 4 "here":http://www.codeplex.com/aspnet/Release/ProjectReleases.aspx?ReleaseId=15389.