-# title: Polishing My Illustrations
-# published: 2008-1-16

:textile
  If I had to classify my illustration style, I would call it "minimal". This may very well be a product of circumstance. Finding some time for my illustrations after work, being a new father, and maintaining a simple life is no small feat. So when I decide to take a sketch to Illustrator, I am looking for some instant gratification. If I don't finish an illustration in one sitting, it could be weeks before I can revisit it.

  I am planning to change all that and take my illustrations a little more serious this new year. I like to have fun while working on my illustrations so I definitely don't want to lose that. I don't want to introduce any stress or pressure into the process, but I know my illustrations can benefit from the extra attention.