-# title: Season Transitions Motivate Me
-# published: 2009-03-09

:textile
  I’ve noticed a trend.  It appears my levels of motivation and dissatisfaction (with my current website) peak at the end of each season.  The last day or so have been clouded with the strong urge to redesign.  So that’s exactly what I did.  To honor the arrival of Spring, I’d like to introduce the iAmNeato.com refresh.
:textile
  I’m feeling good about the redesign, but I’m sure I’ll want to scrap it in a few days and create something new.  That’s just the way I roll. ;)
:textile
  Below is the old header image:

%p
  %a{ :href => "/images/winter_2008.jpg", :title => "Old Header Image" }
    %img{ :src => "images/winter_2008_thumb.jpg", :alt => "Old Header Image" }
