-# title: Snowman's Best Friend
-# published: 2008-12-17

:textile
  In the interest of continuing my flurry of holiday illustrations, I've posted a snowman today.  Nothing says December like a snowman. IMO, a snowman isn't complete without a loyal snowdog to take up his side. 
%p
  %a{ :href => "/images/snow_man.jpg", :title => "Snow Man" }
    %img{ :src => "/images/snow_man.jpg", :alt => "Snow Man" }