-# title: TextMate Is The Winner
-# published: 2008-1-18

:textile
  When I switched to Mac (2 years ago) from a Windows OS, I began my search for a new site editor. I used Dreamweaver on Windows for so many years so I figured it would be a smooth transition. It wasn't. I didn't like the feel of Dreamweaver on Mac OS X. It was choppy and didn't look as cool as other Tiger applications. I decided it was time to move on.

  I tried every IDE/text-editor I could find. Every application I tried always seemed to fall one or two key features short. I started using "Komodo Edit":http://www.activestate.com/Products/komodo_edit/ and it worked pretty well for the price (free). But it didn't offer the experience I expected from a Mac application. I discovered "Panic's Coda":http://www.panic.com/coda/ and was amazed. Coda is exactly what I expect from a Mac application. The only problem was the editor; it wasn't as robust as I had hoped for (so sad).

  Then, out of nowhere, I decided to give "TextMate":http://macromates.com/ another chance. I am not really sure how I passed up on this the first time; TextMate is near perfect. The editor is robust out-of-box and extendable. You can manage a project, preview your page realtime (for static HTML) and the price is very competitive. I am extremely pleased with my decision and haven't looked back.
