-# title: The Substitutes
-# published: 2008-11-29

:textile
  The flu season is upon us and a substitute workforce is a must.  I believe in planning ahead, and in that vain … I would like to introduce, The Substitutes!
  
%p
  %a{ :href => "/images/substitutes.jpg", :title => "Substitutes" }
    %img{ :src => "/images/substitutes.jpg", :alt => "Substitutes" }  