-# title: This is Farewell
-# published: 2009-07-07

:textile
  I’m declaring my intention to migrate my blog away from WordPress (ironically using WordPress).  WordPress is fantastic application, probably one of the best PHP applications I’ve ever used.  It’s only flaw, according to me, is the applications abundance of features.  I only use a small subset of it’s features and don’t have any real requirements for an HTML abstraction (because I’m all web savvy and stuff).  Being a fan of simplicity, I’m always seeking ways to reduce complexity.  This blog is no exception.
  
:textile
  In case you’re wondering, I’ll be migrating my blog to a "Sinatra":http://www.sinatrarb.com/ based solution. The event that lead me to make this decision occurred accidentally.  I was just minding my own business, doing a little "Sinatra":http://www.sinatrarb.com/ research when I stumbled upon an amazing blog solution.  I found it while reading "Enter Sinatra":http://hughevans.net/2009/02/21/enter-sinatra on "http://hughevans.net/":http://hughevans.net/.  I realized after a few minutes of inspecting the "project":http://github.com/artpop/hughevans.net/tree/master on "GitHub":http://github.com/, that the code was an excellent example of the simplicity I covet.  I also took a minute to look over the "toolmantim":http://github.com/toolmantim/toolmantim/tree/master project that inspired Hugh Evans. If you’re interested in "Sinatra":http://www.sinatrarb.com/, I suggest you take a look at both projects.
  
:textile
  Hopefully the next time you hear from me I’ll be speaking to you all from atop a "Sinatra":http://www.sinatrarb.com/ platform.