-# title: Where I Do What I Do
-# published: 2008-11-14

:textile
  Last night I submitted pictures of my home office to "wherewedowhatwedo.com":http://wherewedowhatwedo.com/.  I’ve had this item on my to-do list for sometime.  Priorities are a mofo.  Anyways, its done and I’m pleased.  So I invite you to take a look at my "workspace":http://wherewedowhatwedo.com/spaces/1136-emilio.  If you deem my pictures pleasant, please, leave  a comment (there, not here).